<h2>Song: <%= @song.name %></h2>
<h3>Album: <%= @song.album.name %></h3>

<form action="/albums/<%= @song.album.id %>/songs/<%= @song.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

<div class="form-group">
  <label for="song_name">Rename song</label>
  <input id="song_name" name="song_name" class="form-control" type="text" value= <%= @song.name() %> >
  <label for="lyrics">Update lyrics</label>
  <input id="lyrics" name="lyrics" class="form-control" type="text" value= <%= @song.lyrics() %> >
  <label for="songwriter">Rename songwriter</label>
  <input id="songwriter" name="songwriter" class="form-control" type="text" value= <%= @song.songwriter() %> >
</div>
  <button type="submit">Update song</button>
</form>

<form action="/albums/<%= @song.album.id %>/songs/<%= @song.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete song</button>
</form>

<a href="/albums/<%= @song.album.id %>">Back to <%= @song.album.name %></a>